*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.bold{
    font-weight: bold;
}
.thin{
    font-size: 11pt;
    font-weight: 100;
    -webkit-text-stroke: 0.3px black; /* Adiciona um contorno finíssimo */
    color: transparent; /* Torna a fonte quase invisível, apenas com contorno */
}
body{
    background-color: #E6E6E6;
    zoom: 95%;
}

header{
    position: fixed;
    background: #1C1C1E;
    height: 80px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 5px 12px 5px rgba(0,0,0,0.3);
}
#size{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1250px;
    gap: 500px;
}
.logo{
    height: 80px;
    padding: 4px 0;
    cursor: pointer;
}
#head-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 2rem;
    list-style: none;
    max-width: 450px;
}
#head-list ul,#head-list a{
    list-style: none;
    text-decoration: none;
}
header li{
    position: relative;
}
#head-list li a{
    display: block;
    color: #949fb6;
    font-weight: bold;
    font-size: 1.2rem;
}
#cart{
    height: 25px;
}
#cart-li{
    width: 50%;
}
header li::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    background: #517390;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}
#head-list li:not(:last-child):hover::after,
#head-list li.active::after{
    width: 50%;
}
#mobile{
    color: #949fb6;
    display: none;
}
#side-menu{
    position: fixed;
    top: 0;
    right: -250px; /* Oculto fora da tela */
    width: 250px;
    height: 100vh;
    background: #1C1C1E;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
}
#side-menu ul {
    list-style: none;
    padding: 0;
}
#side-menu li {
    padding: 15px;
    text-align: center;
}
#side-menu a {
    color: #949fb6;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
}
#close-menu {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

main{
    padding-top: 80px;
}
#landing, #about-landing, #contact-landing, #product-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 10px;
}
#left-landing, #about-left-landing, #contact-left-landing{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-left-landing{
    justify-content: start;
    align-items: start;
    padding: 5px;
}
#contact-left-landing #texts{
    width: fit-content;
    height: fit-content;
    padding-top: 50px;
    gap: 8px;
}
#right-landing, #about-right-landing, #contact-right-landing{
    display: flex;
    justify-content: center;
}

#texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px;
    height: 350px;
    font-size: 1.2rem;
}
#textinhos{
    display: flex;
    gap: 10px;
}
.textinhos-left, .textinhos-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textinhos-right p{
    height: 19.2px;
}
.textinhos-div{
    display: flex;
    gap: 12px;
}

#left-landing h2, #left-landing h1{
    color: #4a4a4a;
}
#left-landing h1{
    text-transform: uppercase;
    line-height: 38px;
}

#colorfull1{
    color: #949fb6;
}
#colorfull2{
    color: #517390;
}

#landing-img{
    height: 440px;
    margin-top: 20px;
}
#btn-left button{
    background: url(../assets/noun-button.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    height: 75px;
    width: 130px;
    margin-top: 10px;
    margin-left: 25%;
}
#shop-landing{
    background: url(/assets/cutebg.jpg) center center no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#shop-landing-txt{
    color: white;
    background-color: hsla(240, 100%, 6%, 0.8);
    border-radius: 15px;
    border: 1px solid #000040;
    display: block;
    width: 365px;
    padding: 18px 18px;
    font-size: 1.1em;
}
#product-details{
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    height: 600px;
    padding: 5px;
    background-color: #e0e0e0;
    margin-bottom: 60px;
}
.product-left-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 30px 20px 30px 5px;
}
#main-img-div{
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
#main-img{
    width: 80%;
    height: 80%;
    padding: 25px;
    object-fit: contain;
    object-position: center;
}
#small-products-group{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;
    width: 10%;
    margin: 30px 0 30px 25px;
}
.small-img-div{
    display: flex;
    align-items: center;
    flex-basis: 20;
    cursor: pointer;
}
.small-img{
    padding: 10px;
    background-color: #d8d8d8;
    width: 100%;
}

.product-right-landing{
    width: 100%;
    margin: 30px 30px 30px 20px;
}
.product-right-landing h4{
    padding: 25px 0 0 0;
}
.product-right-landing h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.product-right-landing select{
    display: block;
    padding: 5px 25px;
    margin-bottom: 4px;
}
.product-right-landing input{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.product-right-landing button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.product-right-landing input:focus,
.product-right-landing select:focus{
    outline: none;
}
.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22);
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
}
.blink{
    animation: blink .5s step-end infinite alternate;
    animation-delay: 2s;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
        opacity: 0;
    }
  }

.about-txt{
    text-align: center;
}
#description{
    line-height: 20px;
}

#spec-list {
    list-style: none;
    padding-left: 0;
}
#spec-list li {
    background-image: url(../assets/icons/gear.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

#contact-us-from{
    border: 2px solid #cdcdcd;
    padding: 80px 100px;
    margin: 80px 20px;
    display: flex;
    justify-content: space-between;
}
#contact-form form{
    width: 780px;
    display: flex;
    flex-direction: column;
}
#contact-form form input, #contact-form form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#contact-form form button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#contact-people{
    padding: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.person{
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}
.person img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
}
.person p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
.person p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#features{
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.feature-card{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 1px solid #838f84;
    border-radius: 5px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    transition: 0.3s ease-in-out;
}
.feature-card:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}
#features img{
    height: 150px;
}
#all-products{
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sproduct-main #all-products{
    margin-bottom: 80px;
}
#pTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
#pTitle span{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 15px;
}
#pTitle p{
    color: #808080;
    font-size: 1rem;
    font-weight: 600;
}
#all-shop-product-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 70px;
}
#all-shop-product-cards a{
    color: inherit;
    text-decoration: none;
}
.product-card{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border: 1px solid #86838f;
    border-radius: 30px;
    width: 245px;
    height: 470px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out;
}
.product-card:hover{
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}
.pImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background: #cbcbcb;
    padding: 15px;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.pImg img{
    align-self: center;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.pTexts{
    display: flex;
    flex-direction: column;
    padding: 0 6px;
}
.corp-name{
    color: #717171;
    font-size: 0.85rem;
}
.product-card p{
    color: #717171;
    font-size: 0.85rem;
    padding-top: 5px;
}
.product-card .price{
    color: black;
    font-size: 1.1rem;
    padding-left: 4px;
    margin-top: 4px;
    padding-bottom: 5px;
}
.price-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 25%;
    gap: 20px;
}
.cartBtn{
    background: url(../assets/icons/shopping-cart.png) center no-repeat;
    background-size: cover;
    border: none;
    margin-top: 2px;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
#offer{
    background: url(../assets/banner-3.png) right no-repeat;
    background-size: cover;
    opacity: 0.95;
    width: 100%;
    height: 320px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    z-index: -1;
}
#offer button{
    display: flex;
    margin-top: 15px;
    width: 180px;
    height: 50px;
    border: none;
    font-weight: 600;
    border-radius: 12px;
}
#offer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}
.mid-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 110px;
}
#midtxt{
    background: url(../assets/blueprint.png) right no-repeat;
    background-size: cover;
    height: 38px;
}
#big-banners-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 80px;
}
.big-banner{
    width: 550px;
    height: 360px;
    color: white;
    position: relative;
}
.big-banner a{
    color: white;
}
#big-banner-1{
    background: url(../assets/child-roboto.png);
}
#big-banner-2{
    background: url(../assets/deepmind.png);
}
.banner-texts{
    position: absolute;
    top: 65%;
    background: #00000066;
    border: 1mm double #4e4e4e54;
    border-radius: 0 500px 500px 0;
    box-shadow: 2px 0 25px 2px #000000be;
    padding-left: 10px;
    max-width: 450px;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 1.25rem;
    transition: 0.3s ease-in-out;
    transform-origin: top left;
}
.banner-texts:hover{
    background: #00000090;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
}
#small-banners-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 36px;
    height: 320px;
}
.small-banner{
    width: 370px;
    height: 320px;
    color: white;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}
.small-banner:hover{
    box-shadow:  20px 20px 40px #868686,
    -20px -20px 48px #b6b6b6;
    transition: 0.3s ease-in-out;
}
#small-banner-1{
    background: url(../assets/education.png);
}
#small-banner-2{
    background: url(../assets/market.png);
}
#small-banner-3{
    background: url(../assets/worker.png);
}
.small-banner-text{
    background: #6d6d6db0;
    position: absolute;
    top: 285px;
    height: 120px;
    transition: 0.3s ease-in-out;
}
.small-banner:hover .small-banner-text {
    transform: translate(0, -65px); /* Move a div menor */
    transition: 0.3s ease-in-out;
}
.small-banner-text h3{
    font-size: 1.3rem;
    padding: 5px 5px 2.5px 5px;
}
.small-banner-text h5{
    font-size: 0.95rem;
    padding: 2.5px 5px 10px 5px;
}
.small-banner-text span{
    cursor: help;
}
#news-sec{
    background: url(../assets/banner-1.png);
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1300px;
    height: 150px;
    margin-bottom: 40px;
}
#newsletter h2{
    margin-bottom: 10px;
    color: white;
}
#newsletter p{
    color: white;
}
#newsletter .form,
#cart-downs .form{
    display: flex;
    width: 40%;
}
#newsletter input,
#cart-downs .form input{
    height: 3.125rem;
    padding: 0 1em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletter button,
#cart-downs .form button{
    height: 3.125rem;
    width: 30%;
    color: white;
    font-weight: bold;
    border: 1px solid #949fb6;
    border-radius: 4px;
    background: #517390;
    cursor: pointer;
}
#about-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.great-h1{
    background: url(../assets/banner-1.png);
    width: 60%;
    border-radius: 15px;
    font-size: 30pt;
    color: #949FB6;
    margin-top: 60px;
}
.great-h1 a{
    color: #949FB6;
}
#cart-products{
    max-width: 1300px;
    margin: 0 auto 60px auto;
}
#cart-products table{
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    border: 1px solid #cdcdcd;
}
#cart-products thead{
    text-transform: uppercase;
    border: 3px solid #cdcdcd;
    border-left: none;
    border-right: none;
}
#cart-products thead td{
    font-size: 18px;
    padding: 18px 0;
}
#cart-products tbody tr{
    border: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
}
#cart-products tbody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#cart-products tbody td{
    font-size: 15px;
}
#cart-products table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart-products table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart-products table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart-products table td:nth-child(4),
#cart-products table td:nth-child(5),
#cart-products table td:nth-child(6){
    width: 100px;
    text-align: center;
}
#cart-products table td:nth-child(5) input{
    width: 60px;
    padding: 8px 5px 8px 15px;
}
#cart-products table td:nth-child(5) input{
    font-size: 12pt;
}
#cart-products table img{
    height: 90px;
}
#cart-downs{
    display: flex;
    gap: 250px;
    flex-wrap: nowrap;
    align-items: start;
    max-width: 1300px;
    margin: 0 auto 80px auto;
    padding-left: 50px;
}
#cart-down-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}
#cart-sla{
    display: flex;
    flex-direction: row;
}
#cart-down-right {
background-color: #f5f5f5; /* fundo suave */
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
font-family: 'Roboto', sans-serif;
margin: 20px auto;
}

#cart-down-right h1 {
font-size: 24px;
margin-bottom: 20px;
font-weight: 600;
color: #222;
}

#cart-down-right table {
width: 100%;
border-collapse: collapse;
}

#cart-down-right td {
padding: 12px 0;
font-size: 16px;
color: #333;
}

#cart-down-right td.bold {
font-weight: bold;
font-size: 18px;
color: #111;
}
  




.space{
    margin-bottom: 60px;
}
#footer-logo-div{
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #4a4a4a;
    border-radius: 200px;
}
#footer-logo{
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
footer .upper-ft{
    display: grid;
    grid-template-columns: 1.3fr repeat(3, 1fr);
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 40px;
    gap: 20px;
}
.sla{
    padding: 5px;
}
.coll-1 img{
    height: 80px;
}
#media{
    margin-top: 10px;
    padding-top: 5px;
}
.coll-1, .coll-2-about, .coll-3, .coll-4{
    line-height: 23px;
}
.ft-title{
    margin-top: 5px;
    padding-bottom: 10px;
}
.fButtons{
    display: flex;
    margin-top: 18px;
    margin-bottom: 15px;
    width: 300px;
    gap: 10px;
}
footer button{
    width: 140px;
    height: 50px;
    margin: 0 auto;
    border: 1.5px solid #0a0a8c;
    border-radius: 10px;
}
footer #b1{
    background: url(../assets/app-store.png) center;
    background-size: cover;
}
footer #b2{
    background: url(../assets/google-play.png) center;
    background-size: cover;
}
#minis{
    display: flex;
    gap: 2px;
    margin-left: -5px;
}
#minis img{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.mini-cards{
    display: flex;
    gap: 8px;
    margin-top: 10px;
    padding: 5px 0;
}
.mini-cards img{
    height: 30px;
}
#lower-ft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #717171;
    height: 60px;
    color: white;
    font-size: 1.1rem;
}




/* Start Media Query */

@media (max-width:799px){
    header{
        padding: 0 10px;
    }
    #size{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        max-width: 1250px;
        gap: 500px;
    }
    #numsei{
        display: none;
    }
    #mobile{
        display: block;
    }
    #cart{
        height: 22px;
        margin-right: 25px;
    }
    #bars{
        font-size: 25px;
        cursor: pointer;
    }
    #head-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5px;
        list-style: none;
        max-width: auto;
    }
    #head-list li:hover::after,
    #head-list li.active::after{
        width: 50%;
    }
    #about-landing{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px auto 30px auto;
        max-width: 1200px;
        padding: 20px 10px;
    }
    #about-right-landing{
        position: absolute;
        z-index: -1;
        opacity: 18%;
    }
    #contact-landing{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: -50px;
        max-width: 1200px;
    }
    #contact-left-landing{
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-bottom: 50px;
    }
    #contact-us-from{
        border: 2px solid #cdcdcd;
        padding: 30px 20px;
        margin: 80px 20px;
        display: flex;
        flex-direction: column;
    }
    #contact-form form{
        width: 670px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    #contact-people{
        padding: 25px auto;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .person{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
    }
    #features{
        margin-top: 60px;
        padding: 40px 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        gap: 40px;
    }
    #features img{
        height: 120px;
    }
    #all-shop-product-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
    }
    #offer{
        height: 270px;
        margin-top: 50px;
        font-size: 1.3rem;
    }
    #offer button{
        width: 160px;
        height: 50px;
    }
    #big-banners-section{
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    #small-banners-section{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        gap: 15px;
        margin: 0 auto;
        margin-bottom: 60px;

        height: 320px;
        width: 380px;
        overflow-y: auto;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }
    .small-banner{
        width: 370px;
        height: 320px;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
    .small-banner-text{
        background: #6d6d6db0;
        position: absolute;
        top: auto;
        bottom: -20px;
        height: 120px;
        transition: 0.3s ease-in-out;
    }
    .small-banner:hover {
        box-shadow: none;
        transform: none;
    }
    .small-banner:hover .small-banner-text {
        transform: none;
    }

    #small-banners-section::-webkit-scrollbar {
        width: 8px;
    }
    #small-banners-section::-webkit-scrollbar-thumb {
        background: #838f84;
        border-radius: 4px;
    }
    #small-banners-section::-webkit-scrollbar-track {
        background: #59595c;
    }

    #newsletter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 25px;
        width: 100%;
        height: 180px;
    }

    footer .upper-ft{
        display: grid;
        grid-template-columns: 1.3fr repeat(1, 1fr);
        width: 100%;
        margin: 0 auto;
        margin-bottom: 80px;
        gap: 20px;
    }
}
